@page
@model Client.UI.Pages.Author.OverviewModel

<table class="table table-hover">
    <thead>
    <tr>
        <th>Photo</th>
        <th>Name</th>
        <th>Beschreibung</th>
        <th>Geburtsdatum</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <!-- AuthorPhoto -->
        </td>
        <td>
            <!-- AuthorName -->
        </td>
        <td>
            <!-- AuthorDescription -->
        </td>
        <td>
            <!-- AuthorBirthdate -->
        </td>
        <td>
            <!-- Löschen Button -->
        </td>
    </tr>
    </tbody>
</table>
